allow sensors self:capability sys_nice;
allow sensors persist_file:dir { open search getattr setattr read };
allow sensors persist_file:file { append open getattr read write };
